[submodule "src/orb_slam_2_ros"]
	path = src/orb_slam_2_ros
	url = https://github.com/MikeMakes/orb_slam_2_ros.git
[submodule "BebopS"]
	path = src/BebopS
	url = https://github.com/MikeMakes/BebopS
	branch = dev/sphinx
[submodule "PlotJuggler"]
	path = src/PlotJuggler
	url = https://github.com/facontidavide/PlotJuggler.git
[submodule "mav_comm"]
	path = src/mav_comm
	url = https://github.com/ethz-asl/mav_comm.git
[submodule "rqt_image_view"]
	path = src/rqt_image_view
	url = https://github.com/ros-visualization/rqt_image_view.git
[submodule "bebop_autonomy"]
	path = src/bebop_autonomy
	url = https://github.com/AutonomyLab/bebop_autonomy.git
